<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/BASEURL/" />
<meta name="admin/config/environment" content="%7B%22modulePrefix%22%3A%22admin%22%2C%22podModulePrefix%22%3A%22admin/pods%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22BASEURL%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22admin%22%2C%22version%22%3A%220.0.0.10ac02b7%22%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Afalse%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <script>
      window.RAILS_ENV = {
        baseURL: ''
      }
    </script>
    <link rel="stylesheet" href="/front_end_builds/assets/vendor-2cf3ab1bb59a613c0c6c40554617ad53.css">
    <link rel="stylesheet" href="/front_end_builds/assets/admin-e7066d129dab36346496ce1be25a7753.css">

    
  </head>
  <body>
    

    <script src="/front_end_builds/assets/vendor-e3b6ca5fe3e13732b8faa62a8b62c3f8.js"></script>
    <script src="/front_end_builds/assets/admin-1c8aab422ae3d7eec2be591ddfc2d701.js"></script>

    
  </body>
</html>
