<div class='text-right u-margin-bottom'>
  <button {{action 'createApp'}} class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New app
  </button>
</div>

<div class="row">

  {{#each app in controller}}
    {{app-card app=app}}
  {{/each}}
</div>
