<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'apps' class='navbar-brand'}}
        <strong>front_end_builds</strong> admin
      {{/link-to}}
    </div>
  </div>
</nav>

<div class="container-fluid">
  {{outlet}}
</div>
