<nav class="navbar">
  <div class="flex flex-no-shrink items-stretch h-16">
    <div class="navbar-link">
      <strong>{{model.friendlyName}}'s</strong>&nbsp;frontend apps
    </div>
  </div>
  <div class="lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow">
    <div class="lg:flex lg:items-stretch lg:justify-end ml-auto">
      {{link-to "Apps" "apps"
        classNames="navbar-link navbar-link__apps"}}

      {{link-to "SSH keys" "pubkeys"
        classNames="navbar-link navbar-link__pubkeys"}}
      <a href="https://github.com/tedconf/front_end_builds" target="_blank" class="navbar-link">Help</a>

    </div>
  </div>
</nav>

<div class="container mx-auto font-light">
  {{outlet}}
</div>
