.zero-clipboard {
  display: inline;
}

.zeroclipboard-is-hover,
.zeroclipboard-is-active {
  border: 1px dotted gray;
  padding: 1px 3px;
  margin-left: -4px;
  cursor: pointer;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);

  .App-card__copy-api-button {
    display: none;
  }

  &::after {
    display: inline;
    content: 'copy';
    margin: 0 0 4px 0;
  }
}