<!DOCTYPE html>
<html>
<head>
  <title>FrontEndBuilds</title>
  <%= stylesheet_link_tag    "front_end_builds/application", media: "all" %>
  <%= javascript_include_tag "front_end_builds/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
