{{#modal-panel title="Delete SSH key?"
  showCancel=true
  dismiss=(action 'dismiss')
  submitLabel="YES, DELETE SSH KEY"
  submittingLabel="Deleting..."
  submitClass="btn-danger"
  submitDisabled=showNameError
  submit=(action 'submit')
  isSubmitting=isSubmitting
  }}

  <p>
    Are you sure you want to remove the
    <strong>{{pubkey.name}}</strong> SSH key?
  </p>

{{/modal-panel}}
