<div class="modal-header">
  <a href="#" {{action 'dismiss'}} class="close">
    <span aria-hidden="true">&times;</span>
  </a>

  <h4 class="modal-title">Delete SSH key?</h4>
</div>

<div class="modal-body">
  <p>
    Are you sure you want to remove the
    <strong>{{pubkey.name}}</strong> SSH key?
  </p>

  <hr class="short-divider" />

  <div class="clearfix">
    <div class="pull-right">
      <a class="Delete-pubkey-modal__cancel btn btn-default btn-xs"
        href="#" {{action "dismiss"}}>Cancel</a>

      <a class="Delete-pubkey-modal__confirm-delete btn btn-danger btn-xs"
        href="#" {{action "remove"}}>Yes, delete SSH key</a>
    </div>
  </div>
</div>
