.appDetail-title {
  margin-top: 0;
  margin-bottom: 1em;
}
.appDetail-buildListTitle {
  margin-top: 2em;
  margin-bottom: 1em;
}
.appDetail-buildList {
  border: 1px solid #e5e5e5;
  table-layout: fixed;
}
.appDetail-buildListItem {
  color: #999;

  .btn {
    visibility: hidden;
  }
  &:hover .btn {
    visibility: visible;
  }
}
.appDetail-buildListItem:hover,
.success.appDetail-buildListItem {
  color: #333;
}
.appDetail-buildList > tbody > .appDetail-buildListItem > .appDetail-buildListItemCell {
  padding: 15px 13px;
}
.appDetail-buildListItemCell:nth-child(1) {
  width: 110px;
}
.appDetail-buildListItemCell:nth-child(2) {
  // width: 60px;
}
