.Build-list {

  &__build-row {
    td {
      height: 75px;
      vertical-align: middle !important;
    }

    .Build-list__control-live-button--not-live {
      display: none;
    }

    &:hover {
      .Build-list__control-live-button--not-live {
        display: inline-block;
      }
    }
  }

  &__launch-build {
    &:hover {
      text-decoration: none;
    }
  }

  &__control-live-button {
    width: 120px;
  }
}
